.container {
  display: flex;
  align-items: left;
}

img {
  width: 350px;
  height: 350px;
  margin-top: 50px;
}

.profile {
  border-radius: 50%;
}

.image {
  display: flex;
  flex-basis: 40%;

}

#icons {
  width: 25px;
  height: 25px;
  margin-top: 0px;
}


.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  float: right;
  padding-left: 100px;
  padding-bottom: 0px;
}

#contact {
  font-size: 18px;
  padding-left: 10px;
  line-height: 10px;
  color: #393939;
}

#contactme {
  font-size: 20px;
  font-weight: 450;
}

.contacts {
  display: flex;
  align-items: center;
}