#res {

font-family: 'PT Sans';
font-weight: 200;
font-size: 30px;
line-height: 52px;

color: #0B062E;
}

#dis {

    font-family: 'PT Sans';
    font-weight: 100;
    font-size: 25px;
    line-height: 52px;
    
    color: #0B062E;
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }