#hack {
        font-family: acumin-pro, sans-serif;
        font-weight: 400;
        font-size: 30px; 
}  

#text{
    font-family: acumin-pro, sans-serif;
    color:#393939;
    font-weight: 400;
    font-size: 20px; 
}  

#textlight{
  font-family: acumin-pro, sans-serif;
  color:#756B6C;
  font-weight: 400;
  font-size: 20px; 
} 

.gallery{
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  align-items: left;
  margin-top: 50px;
}

.gallery::-webkit-scrollbar {
  display: none;
}
  
.slider img {
  width: 200px;
  height: 200px;
  margin-left: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

#align {
  font-weight: 400;
  font-size: 20px; 
  float:right;
  padding-left: 100px;
}

.pc img{
  width: 502px;
  height: 334px;
}

.previous {
  color:#393939;
}

.next {
  color: #393939;
}

.round {
  border-radius: 50%;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}

.round:hover {
  background-color: #ddd;
}

.nextslide{
  display: flex;
  align-items: right;
  justify-content: right;
}

#assets{
  flex-grow:1;
  font-weight: 400;
  font-size: 20px;
}

#post{
  flex-grow:1;
  font-weight: 400;
  font-size: 20px;
}