#hello {
    width: 209px;
    height: 104px;
    
    font-family: 'PT sans';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 104px;
    
    opacity: 0.75;
    margin-top:100px;
}

#intro {
    width: 1062px;
    height: 76px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 38px;

    margin-bottom: 200px;
    
}

#title {
width: 268px;
height: 65px;

font-family: 'PT Sans Caption';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 65px;
}

#dis { 
    width: 467px;
    height: 117px;
    
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
}

#projects {
  font-family: 'PT sans';
  font-style: normal;
  font-weight: 300;
  font-size: 50px;

}


#veiwP {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;

    color: #168BD7;
    }


.container {
    display: flex;
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 40%
  }

  .text {
    padding-right: 200px;
  }

  #foot {
    font-family: 'PT sans';
    font-style: normal;
    font-weight: 50;
    font-size: 20px;
    line-height: 104px;
    text-align: right;
    
    opacity: 0.5;

    margin-top: 100;
  }

  hr {
    height:3;
    border-width:3;
    opacity:.5;
    color:#0B062E;
  }

  
  
