#hello {
    font-weight: 400;
    font-size: 80px;
    margin-top:80px;
    display: block;

}

#intro {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 200px;   
}

#projects {
  font-weight: 500;
  font-size: 35px;

}

#title {
font-weight: 500;
font-size: 30px;
}

#dis { 
  font-weight: 200;
  font-size: 25px;
}

#veiwP {
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;

    color: #168BD7;
}

.container {
  margin-bottom: 100px;
  display: flex;
  }
  
  img {
    width: 550px;
    height: 300px;
  }
  
  .image {
    flex-basis: 40%
  }

  .text {
    padding-right: 200px;
  }

#tag {
  opacity: 80%;
  font-size: 20px;
  line-height: 0;
  padding-bottom: 15px;
}


  
  
