body {
    height: 125vh;
    font-family: Lora;
    margin-top: 80px;
    padding: 150px;

    background-color: #EFE7E4;
    color: #0B062E;

}

a:link, a:visited {
    color:#168BD7;
    text-decoration: none;
  }
  
.topnav {
    background-color: #EFE7E4;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 150px;
    display: flex;
    align-items: center;
    z-index: 5;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    padding-left: 100px;
  }

.topnav * {
    display: inline;
}
  
.topnav a {
    color: #168BD7;
    padding: 16px;
    text-decoration: none;
} 
  
.topnav a.split{
  text-align: right;
  padding:16px;
  color:#0B062E;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;

}
 
.dark-mode {
    background-color:#0B062E;
    color: white;
}




    
  