body {
    font-family: acumin-pro, sans-serif;
    padding:150px;
    padding-bottom: 0px;

    background-color: #EFEAE8;
    color: #393939;

}

a {
    text-decoration: none;
    color:#168BD7;
  }

  .navbar {
        display: flex;
        width: calc(100% - 250px);
        z-index: 5;

        background-color: #EFEAE8;
        overflow: hidden;
        position: fixed;
        top: 0px;
        left: 0;
        height: 30px;
        font-weight: 200;

        padding: 35px;
        padding-left: 150px;
        padding-right: 100px;
      }

      .navbar a {
        padding-left: 16px;
        padding-right:30px;
      }

      .nav-left {
        flex-grow: 1;
        font-weight: 600;
        font-size: 25px;
      }

      .nav-right{
        color:#393939;
        font-weight: 400;
        font-size: 20px;
      }
  
 
.dark-mode {
    background-color:#0B062E;
    color: white;
}

#foot {
  font-style: normal;
  font-weight: 50;
  font-size: 20px;
  line-height: 104px;
  text-align: right;
  opacity: 0.7;
}

hr {
  height:2.5px;
  background-color: #0B062E;
  width: 100%;
  border: 0 none;
  opacity: .5;
  margin-top: 40px;
}

.zoom { 
top:-50px; 
left:-35px; 
display:block; 
z-index:999; 
cursor: pointer; 
} 

.zoom:hover { 
transform: scale(1.05); 
}


    
  